
#content-right {
    position: fixed;
    left: 300px;
    right: 0em;
    overflow: auto;
    height: 100vh;
    border-left: 1px solid rgb(var(--layer-1-color));
    background-color: rgb(var(--layer-0-color));
}

#content-right-header {
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 85px;

    position: fixed;
    left: 301px;
    right: .8em;
    z-index: 1000;
    background: rgba(var(--layer-0-color), 0.8);
    backdrop-filter: blur(5px) saturate(150%);
}

#content-right-header h1 {
    padding-left: 0;
    margin-left: 1em;
}

#content-right-header-actions {
    align-self: center;
}

#content-right-header-actions svg {
    background-color: rgb(var(--btn-1-color));
    border-radius: 7px;
    padding: 0.2em;
    padding-left: 0.8em;
    padding-right: 0.8em;
    height: 30px;
    width: 30px;
    opacity: 0.6;
    transition: opacity .1s linear;
}

#content-right-header-actions svg:hover {
    opacity: 1;
    background-color: rgb(var(--btn-1-color-hover));
}

#content-right-header-actions svg:active {
    background-color: rgb(var(--btn-1-color-active));
}

#content-right-body {
    overflow: auto;
}

#content-right-footer {
    grid-area: audio-player;
}

/* ------------------------------------------------------------------------------------------------------------------ */

/* NOTE: Podcast entry list */

/* ------------------------------------------------------------------------------------------------------------------ */

#list {
    margin: 71px 0 0 0;
    padding: 0;
}

#list li:last-of-type {
    border-bottom: 0;
}

.statistics-header {
    padding: 0.5em;
    padding-left: 1.5em;
    padding-right: 2em;
    font-size: 22px;
    font-weight: bold;
    background-color: rgb(var(--layer-1-color));
    margin: 10px;
    margin-top: 30px;
    border-radius: 10px;
}

.statistics-header:first-child {
    margin-top: 0;
}

.statistics-entry {
    background-color: inherit;
    padding: 0.5em;
    padding-left: 2em;
    padding-right: 2em;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "stats-title stats-value";
}

.statistics-entry-title {
    grid-area: stats-title;
}

.statistics-entry-value {
    grid-area: stats-value;
}

.podcast-entry {
    background-color: inherit;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 4em;
    grid-template-areas: "header actions";

    border-radius: 15px;
    margin: 10px;
    background-color: rgb(var(--right-list-el-color));
    
    transition: background-color .1s linear;
}

.podcast-entry-header {
    grid-area: header;
    display: grid;
    grid-template-columns: 115px 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "image title";
}

.podcast-entry-actions {
    grid-area: actions;
    align-self: center;
}

.podcast-entry:hover {
    background-color: rgb(var(--right-list-el-color-hover));
}

.podcast-entry svg {
    grid-area: icons;
    align-self: center;
    margin-left: 0.5em;
    opacity: 0.8;
}

.podcast-entry img {
    grid-area: image;
    border-radius: 9px;
    margin: 0.5em;
    margin-left: 2em;
    width: 60px;
    height: 60px;
    box-shadow: var(--box-shadow);
}

.podcast-entry-title {
    grid-area: title;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    font-weight: bold;
    font-size: 16px;
    position: relative;
    align-self: center;
}

.grid-layout .podcast-entry-title {
    top: 0;
}

.set-favorite {
    fill: #e91e63;
}

/* ------------------------------------------------------------------------------------------------------------------ */

/* NOTE: Grid layout for list */

/* ------------------------------------------------------------------------------------------------------------------ */

.grid-layout {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

@media screen and (min-width: 1200px) {
    .grid-layout {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 1400px) {
    .grid-layout {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 1600px) {
    .grid-layout {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 1800px) {
    .grid-layout {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 2000px) {
    .grid-layout {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }
}

.grid-layout .podcast-entry {
    display: grid;
    grid-template-columns: 1fr 0px;
    border-bottom: none;

    border-radius: unset;
    margin: unset;
    background-color: unset !important;

    margin-top: 5px;
    transition: none;
}

.grid-layout .podcast-entry .podcast-entry-header {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1fr;
    grid-template-areas: "pimage" "ptitle";
}

.grid-layout .podcast-entry .podcast-entry-header img {
    grid-area: pimage;
    width: 90px;
    height: 90px;
    margin: 0;
    padding: 0;
    align-self: center;
    justify-self: center;
    box-shadow: var(--box-shadow);
}

.grid-layout .podcast-entry .podcast-entry-title {
    grid-area: ptitle;
    text-align: center;
    font-size: 14px;
    margin-left: 20px;
    margin-right: 20px;
}

.grid-layout .podcast-entry .podcast-entry-actions {
    display: none;
}

.grid-layout .podcast-entry:hover {
    background-color: inherit;
}

.grid-layout .podcast-entry .podcast-entry-header img:hover {
    box-shadow: var(--box-shadow);
}

.grid-layout .podcast-entry .podcast-entry-header img:active {
    box-shadow: none;
}

/* ------------------------------------------------------------------------------------------------------------------ */

/* NOTE: Select the currently playing episode */

/* ------------------------------------------------------------------------------------------------------------------ */

.select-episode:not([info-mode]) {
    background-color: rgb(var(--main-color));
    --bk-color1-download: #3378fb !important;
    --bk-color2-download: rgb(var(--main-color)) !important;
}

.select-episode:not([info-mode]):hover {
    background-color: rgb(var(--main-color-hover));
    --bk-color1-download: #1c65f1 !important;
    --bk-color2-download: rgb(var(--main-color-hover)) !important;
}

.select-episode:not([info-mode]) .list-item-flag {
    --flag-color-1: 41, 107, 218; /* #296bda */
    --flag-color-2: 29, 75, 228; /* #1d4be4 */
}

.select-episode:not([info-mode]) > img {
    border-color: transparent;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5); 
}

.select-episode:not([info-mode]) > div {
    --text-color: 255, 255, 255; /* #fff */
    color: rgb(var(--text-color));
}

.select-episode:not([info-mode]) > .list-item-icon {
    opacity: 0.8;
}

.select-episode:not([info-mode]) > .list-item-icon:hover {
    opacity: 1;
}

.settings-feed {
    padding: 2em;
    padding-bottom: 0.5em;
    display: grid;
    grid-template-columns: 100px 1fr 35px;
    grid-template-rows: 1fr;
    grid-template-areas: "image name buttons";
}

.settings-feed-image {
    width: 100px;
    height: 100px;
    border-radius: 10px;

    background-color: rgb(var(--layer-1-color));
    box-shadow: var(--box-shadow);
}

.settings-feed-header {
    grid-area: name;
    padding: 0.5em;
    margin-left: 1em;
    font-weight: bold;
    font-size: 22px;
    align-self: center;
}

.settings-feed-buttons {
    grid-area: buttons;
}

.settings-feed-buttons>* {
    background: rgb(var(--btn-1-color));
    border-radius: 6px;
    text-align: center;
    padding-top: 0.2em;
    margin-bottom: 1em;
    opacity: 0.8;
    height: 28px;
}

.settings-feed-buttons {
    position: relative;
    bottom: 1px;
    opacity: 1;
}

.settings-feed-buttons>div {
    padding-top: 5.5px;
    height: 29.5px;
    width: 35px;
}

.settings-feed-buttons>*:hover {
    opacity: 1;
}

.settings-feed-buttons>div>.list-item-icon {
    margin-left: auto;
    margin-right: auto;
    width: 24px;
    height: 24px;
    opacity: 1;
}

.settings-feed-buttons .list-item-icon svg {
    fill: #e91e63;
}

.settings-feed .settings-feed-header .count-header {
    color: rgba(var(--opaque-text-color));
    font-size: 13px;
}

.settings-feed .settings-feed-header .description-header {
    opacity: .7;
    font-size: 15px;
    display: block;
    overflow: hidden;
}

.settings-feed .settings-feed-header .description-header>p {
    opacity: .7;
    font-size: 15px;
    margin: 0;
}

.settings-feed .settings-feed-header .description-header h1, h2, h3 {
    font-size: 15px;
}

.settings-feed .settings-feed-header .description-other {
    font-size: 15px;
    color: #5880c7;
}

.settings-feed .settings-feed-header .description-other:hover {
    text-decoration: underline;
}

.settings-feed .settings-feed-header .artist-header {
    opacity: .7;
    font-size: 15px;
    overflow: hidden;
    display: block;
    line-height: 2;
}

.show-more-episodes-row {
    text-align: center;
}

.show-more-episodes-button {
    font-weight: bold;
    display: inline-block;
    padding: 15px; /* 20px */
    opacity: 0.7;

    margin: 10px;
    border-radius: 30px;
    background-color: rgb(var(--right-list-el-color));

    box-shadow: var(--box-shadow);
    transition: opacity .2s ease-out;
}

.show-more-episodes-button:hover {
    opacity: 1.0;
}

.more-episodes-bottom {
    margin-bottom: 10px;
}

#info-item-list, .description-header {
    line-height: 1.5;
}

#info-item-list h1, h2, h3 {
    font-size: 15px;
}

#info-item-list strong {
    font-weight: normal;
}

.info-title {
    font-size: 16px;
    font-weight: bold;
}

.info-channel {
    font-size: 13px;
}

.info-channel:hover {
    text-decoration: underline;
}

.info-duration {
    font-size: 13px;
    color: rgba(var(--opaque-text-color));
}

.info-description {
    font-size: 15px;
}

.info-pubdate {
    font-size: 13px;
    color: rgba(var(--opaque-text-color));
}

.info-download {
    font-size: 13px;
    font-weight: bold;
    color: #006b04; 
}

.dark-mode .info-download {
    color: #28b12d;
}

.download-in-progress .info-download {
    color: #d06010;
}

.dark-mode .download-in-progress .info-download {
    color: #ff8100;
}

.download-error .info-download {
    color: #ff1313;
}

.header-null #content-right-header {
    display: none;
}

.header-null #content-right-body #list {
    margin: 0;
}

.nothing-to-show {
    text-align: center; 
    width: 100%; 
    display: inline-block; 
    font-size: 20px;
}
