
#content-left
{
    height: 100%;
    width: 300px;
    display: grid;
    position: fixed;
    overflow: auto;
    /* grid-template-rows: 70px 215px 30px 3fr 60px; */
    /* grid-template-rows: 70px 250px 30px 3fr 300px; */
    /* grid-template-rows: 70px 1fr 355px; */
    grid-template-rows: 70px 1fr auto;
    grid-template-columns: 100%;
    grid-template-areas:
        "search"
        "menu"
        "player";
}

#search
{
    /* grid-area: search;
    margin: 0.8em;
    margin-bottom: 2em;
    margin-top: 1em; */
    display: flex;
    height: 40px;
    padding-left: 0.5em;
    background: #FFF;
    border-radius: 10px;
    border: 1px solid #e5e5e5; /* #E0E0E0; */
    box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.1);
}

#search svg
{
    opacity: 0.6;
    height: 100%;
    vertical-align: middle;
}

#search input
{
    font-size: 16px;
    padding: 0.5em;
    margin-right: 0.5em;
    width: calc(100% - 1.2em);
    border: 0;
    background-color: inherit;
    outline: none;
}

#search input::placeholder { 
    transition: color .2s linear;
}   

/* #search input:focus::placeholder, */
#search input:hover::placeholder { 
    color: #000;
}

#menu
{
    grid-area: menu;
}

#menu ul
{
    padding: 0;
    margin-top: 0;
}

#menu ul li
{
    list-style: none;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
    padding-left: 1.2em;
    padding-right: 0.8em;
    font-size: 16px;
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 30px 1fr 30px;

    border-radius: 10px;
    margin: 4px 8px;
}


#menu ul li span
{
    align-self: center;
}

#menu ul li svg
{
    opacity: 0.6;
    align-self: center;
}

.menu-count
{
    align-self: center;
    opacity: 0.4;
}

.pink
{
    fill: #E91E63;
}

.yellow
{
    fill: #EF6C00;
}

.orange {
    fill: #ff8d0c; /* #ff9b2a */
}

.blue
{
    fill: #039BE5;
}

.purple
{
    fill: #9C27B0;
}

.teal
{
    fill: #009688;
}

.selected
{
    background-color: #d1d1d1; /* #E0E0E0; */
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    } to {
        transform: rotate(-359deg);
    }
}

.is-refreshing {
    animation: rotation 1.5s infinite linear;
}

/* ------------------------------------------------------------------------------------------------------------------ */

#playlist-header
{
    grid-area: playlist-header;
}

#playlist-header h3
{

    margin: 0;
    padding: 0.5em;
    padding-left: 1.2em;
    border-top: 1px solid #CCC;
    color: #AAA;
    font-size: 14px;
    font-style: normal;
}

#playlists
{
    grid-area: playlists;
    /* display: grid; */
    overflow: auto;
    /* grid-template-columns: 1fr;
    grid-template-rows: 40px 1fr;
    grid-template-areas:
        "playlist-header"
        "playlist-items"; */
}

#playlists ul
{
    grid-area: playlist-items;
    list-style: none;
    margin: 0;
    padding: 0;
}

/* #playlists ul li
{ */
    /* padding: 0.5em; */
    /* padding-left: 0.6em; */

    /*
    padding-bottom: 0.5em;
    padding-top: 0.5em;
    padding-left: 1.2em;
    padding-right: 0.8em;
    *//* 
} */

#playlists ul li.over
{
    background: #448AFF; /* #039BE5; */
    color: #FFF;
}

#playlists ul li.over input
{
   color: #FFF;
    font-weight: bold;
}

#playlists ul li input
{
    outline: none;
    background: inherit;
    border: none;
    font-size: 16px;
    line-height: 0.5em;
    padding: 0.5em;
    width: calc(100% - 3em);

    margin-bottom: 0.5em;
    margin-top: 0.5em;
    margin-left: 1em;
    margin-right: 1em;
}

#playlists ul li input:disabled
{
    user-select: none;
}

#playlists ul li input:enabled
{
    outline: none;
    background: #ccc;
    color: #000;
    /*width: 245px;*/
    border-radius: 8px;
}

/* ------------------------------------------------------------------------------------------------------------------ */

footer
{
    grid-area: footer;
    border-top: 1px solid #CCC;
    display: grid;
    grid-template-columns: 50px 1fr;
    grid-template-rows: 100%;
    grid-template-areas: "icon input";
    position: relative;
}
/*
footer svg
{
    grid-area: icon;
    align-self: center;
    justify-self: center;
}
*/

footer span
{
    width: 54px; 
    height: 100%;
    background:transparent; border:none; color:transparent;
}

footer svg
{
    position: absolute;
    left: 15px;
    bottom: 18px;
}

footer input
{
    grid-area: input;
    background: inherit;
    border: 0;
    outline: none;
    text-align: left;
    font-size: 16px;
}

#new_list-button:hover > svg {
    fill: #666;
}

#new_list-button > svg {
    fill: #aaa;
}

#bar-search {
    background-color: #ddd;/* #171717; */
    margin: 0.8em;
    margin-bottom: 2em;
    margin-top: 1em;
    height: 42px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 40px;
    grid-template-areas:
        'reload'
        'search';
    box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.1);
}

#bar-search > svg {
    margin: 11.5px;
    margin-right: 10px;
    grid-area: reload;
    opacity: 0.6;
    fill: #000;
    transition: width .1s linear, margin .1s linear, opacity .1s linear;
}

#bar-search > svg:hover {
    opacity: 1;
}

.search-animation > svg {
    opacity: 0 !important;
    width: 0px;
    margin: 0px !important;
    margin-top: 10px !important;
}
