
#content-left {
    height: 100%;
    width: var(--content-left-width);
    display: grid;
    position: fixed;
    overflow: hidden;
    background-color: rgba(var(--layer-1-color), var(--layer-alpha));
    grid-template-rows: 70px 1fr auto;
    grid-template-columns: 100%;
    grid-template-areas:
        "search"
        "menu"
        "player";
}

#bar-search {
    background-color: rgba(var(--btn-1-color));
    margin: 0.8em;
    margin-bottom: 2em;
    margin-top: 1em;
    height: 42px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 40px;
    grid-template-areas:
        'reload'
        'search';
    box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.1); 
}

#bar-search > svg {
    margin: 11.5px;
    margin-right: 10px;
    grid-area: reload;
    opacity: 0.6;
    transition: width .1s linear, margin .1s linear, opacity .1s linear;
}

#bar-search > svg:hover {
    opacity: 1;
}

#search {
    display: flex;
    height: 40px;
    padding-left: 0.5em;
    background: rgba(var(--layer-0-color), 1);
    border-radius: 10px;
    border: 1px solid rgba(var(--layer-1-color), 1);
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.2); 
}

#search svg {
    opacity: 0.6;
    height: 100%;
    vertical-align: middle;
}

#search input {
    font-size: 16px;
    padding: 0.5em;
    margin-right: 0.5em;
    width: calc(100% - 1.2em);
    border: 0;
    background-color: inherit;
    outline: none;
}

.search-animation > svg {
    opacity: 0 !important;
    width: 0px;
    margin: 0px !important;
    margin-top: 10px !important;
}

#menu {
    grid-area: menu;
}

#menu ul {
    padding: 0;
    margin-top: 0;
}

#menu ul li {
    list-style: none;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
    padding-left: 1.2em;
    padding-right: 0.8em;
    font-size: 16px;
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 30px 1fr 30px;

    border-radius: 10px;
    margin: 4px 8px;
}


#menu ul li span {
    align-self: center;
}

#menu ul li svg {
    opacity: 0.8;
    align-self: center;
}

.menu-count {
    align-self: center;
    color: rgba(var(--opaque-text-color));
}

.selected {
    background-color: rgba(var(--btn-1-color));
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
}

.pink {
    fill: #E91E63;
}

.orange {
    fill: #ff8d0c;
}

.dark-mode .orange {
    fill: #ffc247;
}

.blue {
    fill: #039BE5;
}

.purple {
    fill: #9C27B0;
}

.teal {
    fill: #009688;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    } to {
        transform: rotate(-359deg);
    }
}

.is-refreshing {
    animation: rotation 1.5s infinite linear;
}
