
.dark-mode ::-webkit-scrollbar {     
        background-color: #222;
        width: .8em
}

.dark-mode ::-webkit-scrollbar-thumb:hover { 
    background-color: #555;
} 

.dark-mode ::-webkit-scrollbar-thumb:active { 
    background-color: #666;
}  

.dark-mode ::-webkit-scrollbar-thumb:window-inactive,
.dark-mode ::-webkit-scrollbar-thumb {
        background:  #444;
}

.dark-mode a:link {
  color: #5880c7;
  background-color: transparent;
  text-decoration: none;
}

.dark-mode a:visited {
  color:#5880c7;
  background-color: transparent;
  text-decoration: none;
}

.dark-mode a:hover {
  color: #5880c7;
  background-color: transparent;
  text-decoration: underline;
}

.dark-mode a:active {
  color: #5880c7;
  background-color: transparent;
  text-decoration: underline;
}

.dark-mode 
{
    background: #222;
    color: #DDD;
}

.dark-mode #content-right-body, .dark-mode #content-right-footer, .dark-mode #content-right-player
{
    background: #333;
}

/* BLUR EFFECT */

.dark-mode div#content-right-header {
    background: #333333d4;
}

/* ------------------------------------------------------------------------------------------------------------------ */
/* Left */

.dark-mode #search
{
    background: #333;
    border-color: #222;
}

.dark-mode #search svg
{
    fill: #FFF;
}

/* #search input:focus::placeholder, */
.dark-mode #search input:hover::placeholder { 
    color: #ddd;
}


.dark-mode .selected
{
    background-color: #111;
}

.dark-mode #menu ul li svg
{
    opacity: 0.8;
}

/* #menu-archive svg, */
.dark-mode #menu-settings svg
{
    fill: #FFF;
}

.dark-mode #playlist-header h3
{
    border-color: #000;
}

.dark-mode footer, .dark-mode #content-right-player
{
    border-color: #000;
}

.dark-mode footer svg
{
    fill: #FFF;
    opacity: 0.6;
}

.dark-mode input
{
    color: #FFF;
}

/* ------------------------------------------------------------------------------------------------------------------ */
/* Right */

.dark-mode .playlist-edit-input
{
    background: #444;
    border-color: #333;
}

/*
.edit-header button
{
    background: #222;
}
*/

.dark-mode .uncheck svg
{
    fill: #666;
}

.dark-mode .check svg
{
    fill: #448AFF;
}

.dark-mode .podcast-entry {
    background-color: #272727;
}

.dark-mode .statistics-header
{
    background: #222;
}

.dark-mode .settings-feed-buttons > *
{
    background: #111;
}

.dark-mode .podcast-entry-actions svg
{
    fill: #FFF;
}

.dark-mode .podcast-entry:hover,
.dark-mode .podcast-edit-entry:hover,
.dark-mode .list-item-row-layout:hover
{
    background: #222;
}

.dark-mode .select-episode:hover
{
    /* background: #0288D1; */
    background: #2979FF;
}

.dark-mode #content-right {
    border-left: 1px solid #222;
    background-color: #333;
}

.dark-mode #content-right-player svg,
.dark-mode .list-item-icon svg
{
    fill: #FFF;
}

.dark-mode svg.set-favorite
{
    fill: #E91E63;
    /* opacity: 1; */
}

/*
#content-right-player-progress-bar
{
    background: #222;
}
*/

.dark-mode .content-right-player-speed-btn {
    border-color: #222;
    color: #FFF;
}

.dark-mode .list-item-row-layout {
    background-color: #272727;
    color: #FFF;
}

.dark-mode .list-item-row-layout img {
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
}

.dark-mode .podcast-entry img, .dark-mode .podcast-favorites-entry img {
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
}

.dark-mode .grid-layout .podcast-entry .podcast-entry-header img {
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75);
}

.dark-mode .select-episode {
    background: #448AFF;
}

.dark-mode .content-right-player-speed-btn:hover/*,
#content-right-header-actions svg:hover*/ {
    border-color: #111;
}

.dark-mode .content-right-player-speed-btn:active/*,
#content-right-header-actions svg:active*/ {
    background: #111;
}

.dark-mode .content-right-player-speed-btn:hover button,
.dark-mode .content-right-player-speed-btn:active button {
    color: #fff;
}

.dark-mode [data-tooltip]:after
{
    background: #333;
    color: #FFF;
}

.dark-mode #playlists ul li input:enabled
{
    background: #333;
    color: #fff;
}

.dark-mode #new_list-button:hover > svg {
    fill: white;
}

.dark-mode #list li[info-mode] {
    background-color: #181818;
}

.dark-mode #list li[info-mode] svg{
    fill: #fff;
}
/* 
.more-episodes-top {
    border-color: #222;
}
 *//* 
#list .more-episodes-bottom:last-child {
    border-color: #222;
}
 */
 .dark-mode .top-border {
    border-color: #222;
}

.dark-mode .slider {
  --theme-slider: #222;
}

.dark-mode .settings-feed-image {
    /* border: none; */
    background-color: #222;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
}

.dark-mode .settings-feed-buttons > * svg {
    fill: #fff;
}

.dark-mode .list-item-row-layout > img {
    border: none;
}
/* 
.podcast-entry-header > img {
    border: none;
}
 */
 .dark-mode #content-right-player-img {
    border: none;
}


.dark-mode .list-item-flag {
    --color-flag: #fff;
    --bk-color1-flag: #444; /* #4CAF50; */
    --bk-color2-flag: #191919; /* #222; */ /* #798; */
}


.dark-mode .edit-header button {
    border-color: #222;
    background: #222; 
    color: #FFF;
}


.dark-mode #content-right-header-actions svg {
    background-color: #222;
    fill: #ddd;
}

.dark-mode #content-right-header-actions svg:hover {
    /*border-color: #bbb;/*#CCC;*/
    background-color: #111;
}

.dark-mode #content-right-header-actions svg:active {
    background-color: #444;
}


.dark-mode .content-right-player-speed-btn {
    background-color: #272727; /* inherit; */
}

.dark-mode .show-more-episodes-button {
    background-color: #272727;
}

.dark-mode #content-left-player {
    background-color: #333;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2);
}

.dark-mode #content-left-player-img>img {
    background-color: #222;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
}

.dark-mode #content-left-player-buttons>div>svg {
    fill: white;
}



.dark-mode .content-left-player-btn {
    border-color: #222;
    color: #FFF;
}

.dark-mode .content-left-player-btn:hover {
    border-color: #111;
}

.dark-mode .content-left-player-btn:active{
    background: #111;
}

.dark-mode .content-left-player-btn:hover button,
.dark-mode .content-left-player-btn:active button {
    color: #fff;
}

.dark-mode .content-left-player-btn {
    background-color: #272727; /* inherit; */
}

.dark-mode .orange {
    fill: #ffc247;
}

.dark-mode #bar-search {
    background-color: #171717; 
}

.dark-mode #bar-search > svg {
    fill: #fff;
}


.dark-mode .settings-ui-window {
    background-color: #333;
}

.dark-mode .settings-ui-title > svg {
    fill: #fff;
    opacity: .8;
}
