.list-item-row-layout {
    display: grid;
    grid-template-rows: 1fr;
    font-size: 14px;
    height: 3.2em;
    padding: 0.5em;
    padding-left: 2em;

    border-radius: 15px;
    margin: 10px;
    background-color: rgba(var(--right-list-el-color));
    
    transition: background-color .1s linear;
}

.list-item-row-layout:hover {
    background-color: rgba(var(--right-list-el-color-hover));
}

.list-item-row-layout img {
    border-radius: 5px; 
    width: 40px;
    height: 40px;
    margin: 2.396px 0;
    box-shadow: var(--box-shadow);
}

.list-item-icon {
    opacity: 0.6;
    align-self: center;
    text-align: center;
    height: 100%;
}

.list-item-icon svg {
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.list-item-icon:hover {
    opacity: 0.8;
}

.list-item-flag {
    border-radius: 4px;
    text-align: center;
    width: 80%;
    padding: 0.2em;
    align-self: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

    --percentage: 0%;

    background: linear-gradient(to right, rgb(var(--flag-color-1)) 0%, 
                                          rgb(var(--flag-color-1)) 50%, 
                                          rgb(var(--flag-color-2)) 50%, 
                                          rgb(var(--flag-color-2)) 100%),
                rgb(var(--flag-color-2));

    background-size: calc(var(--percentage)*2);
    background-repeat: no-repeat;
    transition: background-size .2s linear;
    
    font-weight: bold;
    padding-top: 7px;
    padding-bottom: 7px;
    margin-left: 5px;
}

.list-item-text,
.list-item-bold-text,
.list-item-description,
.list-item-sub-text {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    align-self: center;
    padding-right: 0.5em;
    padding-left: 0.5em;
}

.list-item-text {
    max-width: fit-content;
}

.list-item-bold-text {
    font-weight: bold;
}

.list-item-sub-text {
    color: rgba(var(--opaque-text-color));
}

.download-in-progress {
    --bk-color1-download: rgb(var(--progress-download-color));
    --bk-color2-download: rgba(var(--right-list-el-color));
    --progress: 0%;
    background: linear-gradient(to right, var(--bk-color1-download) 0%, 
                                          var(--bk-color1-download) 50%, 
                                          var(--bk-color2-download) 50%, 
                                          var(--bk-color2-download) 100%),
                var(--bk-color2-download);
    background-size: calc(var(--progress)*2);
    background-repeat: no-repeat;
    transition: background-size .2s linear;
}

.download-in-progress:hover {
    --bk-color1-download: rgb(var(--progress-download-color-hover));
    --bk-color2-download: rgba(var(--right-list-el-color-hover));
    
    background: linear-gradient(to right, var(--bk-color1-download) 0%, 
                                          var(--bk-color1-download) 50%, 
                                          var(--bk-color2-download) 50%, 
                                          var(--bk-color2-download) 100%),
                var(--bk-color2-download);

    background-size: calc(var(--progress)*2);
    background-repeat: no-repeat;
}

#list li[info-mode] {
    background: rgb(var(--right-list-el-color-info));
}

#list li[info-mode] .list-item-description {
    height: 40px;
    align-self: unset;
    position: relative;
    top: 22px;
    margin: 2.396px 0;
}

.list-item-text:hover {
    text-decoration: underline;
    padding-top: 10px;
    padding-bottom: 10px;
}

@keyframes pulsation {
    0% {
        opacity: 1;
    } 
    50% {
        opacity: .6;
    }
    100% {
        opacity: 1;
    } 
}

.download-in-progress-icon {
    transform-origin: center; 
    transform-box: fill-box; 
    animation: rotation 1.5s infinite linear;
}

svg .hover-icon {
    display: none;
}

svg:hover .default-icon {
    display: none;
}

svg:hover .hover-icon {
    display: inline-block;
}