/*
.list-item-box-layout
{

}
*/

.list-item-row-layout
{
    display: grid;
    grid-template-rows: 1fr;
    font-size: 14px;
    height: 3.2em; /*2.86em;*/
    /* border-bottom: 1px solid #EEE; */
    padding: 0.5em;
    padding-left: 2em;
    color: #222;

    border-radius: 15px;
    margin: 10px;
    background-color: #e9e9e9;
    
    transition: background-color .1s linear;
}

.list-item-row-layout:hover
{
    background-color: #ddd;
}

.select-episode {
    background: #448AFF;
}

.select-episode:hover
{
    background: #2979FF;
}

.list-item-row-layout img
{
    border-radius: 5px; /*4px*/
    width: 40px;
    height: 40px;
    margin: 2.396px 0;
    box-shadow: 0px 2px 5px 0px rgba(100, 100, 100, 0.5);
}
/* 
.list-item-row-layout[info-mode] img
{
    margin: 0;
}
 */
.list-item-icon
{
    opacity: 0.6;
    align-self: center;
    text-align: center;
    height: 100%;
}

.list-item-icon svg {
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.list-item-icon:hover
{
    opacity: 0.8;
}

.list-item-flag
{
    border-radius: 4px;
    text-align: center;
    width: 80%;
    padding: 0.2em;
    align-self: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

    --color-flag: #000;
    --bk-color1-flag: #999;
    --bk-color2-flag: #bbb;
    --percentage: 0%;

    background: linear-gradient(to right, var(--bk-color1-flag) 0%, 
                                          var(--bk-color1-flag) var(--percentage), 
                                          var(--bk-color2-flag) var(--percentage), 
                                          var(--bk-color2-flag) 100%);
    font-weight: bold;
    padding-top: 7px;
    padding-bottom: 7px;
    margin-left: 5px;
}

.select-episode .list-item-flag {
    --bk-color1-flag: #296bda; /* rgb(8, 102, 224); */
    --bk-color2-flag: rgb(29, 75, 228);
}

.list-item-text,
.list-item-bold-text,
.list-item-description,
.list-item-sub-text
{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    align-self: center;
    padding-right: 0.5em;
    padding-left: 0.5em;
}

.list-item-text {
    max-width: fit-content;
}

.list-item-bold-text
{
    font-weight: bold;
}

.list-item-sub-text
{
    opacity: 0.4;
}

#list li[info-mode] {
    background-color: #d7d7d7;
}

#list li[info-mode] svg {
    fill: #222;
}

#list li[info-mode] .list-item-description {
    height: 40px;
    align-self: unset;
    position: relative;
    top: 22px;
    margin: 2.396px 0;
}

.list-item-text:hover {
    text-decoration: underline;
    padding-top:10px;
    padding-bottom:10px;
}