/* ------------------------------------------------------------------------------------------------------------------ */
/* NOTE: Player */
/* ------------------------------------------------------------------------------------------------------------------ */

#replay-30-sec {
    grid-area: replay;
    align-self: center;
    justify-self: center;
}

#play-pause {
    grid-area: play;
    align-self: center;
    justify-self: center;
}

#forward-30-sec {
    grid-area: forward;
    align-self: center;
    justify-self: center;
}

#slider-container {
    padding-left: 5px;
    padding-right: 5px;
    position: relative;
    bottom: 3px;
}
  
.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 8px;
  border-radius: 5px;
  --progress-slider: 0%;
  background: linear-gradient(to right, rgb(var(--main-color)) 0%, 
                                        rgb(var(--main-color)) var(--progress-slider), 
                                        rgb(var(--slider-color)) var(--progress-slider), 
                                        rgb(var(--slider-color)) 100%);
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 0px;
  height: 0px;
  border-radius: 50%;
  background: rgb(var(--main-color));
  cursor: pointer;

  transition: width .2s, height .2s;
}

.slider:hover::-webkit-slider-thumb {
  width: 12px;
  height: 12px;
  
  transition: width .2s, height .2s;
}

#content-left-player {
    padding: 10px;
    margin: 0 0.8em 0.8em 0.8em;
    border-radius: 15px;
    background-color: rgba(var(--layer-0-color), 1);
    height: min-content;
    grid-area: player;
    display: grid;
    grid-template-rows: 120px 35px 60px 20px 20px 60px;
    grid-template-columns: 100%;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
}

#content-left-player-img {
    width: 100%; 
    display: flex;     
    margin: 10px 0;
}

#content-left-player-img>img {
    margin: auto; 
    border-radius: 10px;
    height: 100px;
    width: auto;
    background-color: rgba(var(--layer-1-color), 1);
    box-shadow: var(--box-shadow);
}

#content-left-player-title {
    width: 100%; 
    display: flex;
}

#content-left-player-title>div {
    margin: auto;
    padding: 10px;

    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 240px;
}

#content-left-player-buttons {
    width: 100%; 
    display: flex;
}

#content-left-player-buttons>div {
    margin: auto;
}

#content-left-player-buttons>div>svg {
    width: 40px; 
    height: auto;
    opacity: 0.65;
    transition: opacity .2s ease-out;
}

#content-left-player-buttons>div>svg:hover {
    opacity: 1;
}

#content-left-player-time {
    float: left; 
    font-size: small;
}

#content-left-player-duration {
    float: right; 
    text-align: right; 
    font-size: small;
} 

.content-left-player-btn {
    display: flex;
    grid-area: speed;
    align-self: center;
    justify-self: center;
    outline: 0;
    font-size: 12px;
    height: 40px;
    width: 80px;
    border: .1em solid rgba(var(--layer-1-color), 1);
    border-radius: 10px;
    background-color: rgba(var(--layer-1-color), 1);
}

.content-left-player-btn button {
    opacity: 0.6;
    transition: opacity .2s linear;
}

.content-left-player-btn button,
.content-left-player-btn:hover button,
.content-left-player-btn:active button {
    outline: 0;
    border: 0;
    background-color: inherit;
}

.content-left-player-btn:hover button,
.content-left-player-btn:active button {
    opacity: 1;
}

.content-left-player-btn:hover {
    border-color: rgba(var(--btn-1-color-hover));
}

.content-left-player-btn:active {
    border-color: rgba(var(--btn-1-color-active));
}
 
button#content-left-player-volume-indicator,
button#content-left-player-speed-indicator {
    width: 3.3em;
    padding: 0;
    font-weight: bold;
}

.content-left-player-btn {
    margin: 10px;
    overflow: hidden;
}

#content-left-player-volume-btn {
    float: left; 
    margin-left: 30px;
    --volume: 100%;
}

#content-left-player-volume-indicator svg {
    height: 23px;
}

#content-left-player-volume-indicator svg path {
    fill: rgb(var(--text-color));
}

#content-left-player-speed-btn {
    float: right; 
    margin-right: 30px;
}

.content-left-player-btn>button>span {
    font-size: 20px;
}

#content-left-player-volume-btn:hover {
    background: linear-gradient(to right, rgb(var(--volume-btn-color-1)) 0%, 
                                          rgb(var(--volume-btn-color-1)) var(--volume), 
                                          rgb(var(--volume-btn-color-2)) var(--volume), 
                                          rgb(var(--volume-btn-color-2)) 100%);
    border-color: rgb(var(--volume-btn-color-1));
}