
.windows:not(.acrylic):not(.dark-mode) {
    background-color: #ccc;
}

.windows:not(.acrylic) {
    background-color: #222;
}

.hide-ui-windows {
    opacity: 0;
}

.windows #content-right {
    border: none;
}

.windows #content-right #content-right-header {
    background-color: transparent;
    backdrop-filter: unset;
    position: static;
}

.windows:not(.dark-mode) #content-right #content-right-header-actions svg {
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.1);
}

.windows #content-right #content-right-header-actions svg {
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.3);
}

.windows #content-right:not(.header-null) #content-right-body {
    height: calc(100% - 71px);
}

.windows #list:not(.grid-layout) li:not(.statistics-entry) {
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
}

.windows #content-right #content-right-body #list {
    margin: 0;
}

.windows .settings-feed-buttons > div {
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
}

.windows .selected{
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
}
